/*-----------------------
       import font  
-------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*-----------------------
      common style  
-----------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1110px;
}
button{
    padding: 10px 24px;
    background: #E02C6D;
    border-radius: 41px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
}
hr{
    border: 1px dotted lightslategray;
}
/*----------------------------
     head section 
-----------------------------*/
header{
    display: flex;
    justify-content: center;
}
.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;

}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #3A3A3A;
}

/*-------------------------------
   initialization-of-journey  
-------------------------------*/
.initialization-of-journey{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.initialization-text{
    width: 582px;
    height: 270px;
    border-radius: 41px;
    margin-right: 135px;
}
.initialization-text > h1{
    font-weight: 700;
    font-size: 50px;
    color: #3A3A3A;
    margin-bottom: 16px;
    margin-top: 0px;
}
.initialization-image{
    width: 440px;
    height: 414px;
}

/*----------------------------
       ecommerce-websites  
-----------------------------*/
.ecommerce-website-images{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 61px;
    padding-left: 50px;
    margin-top: 36px;
}

/*-----------------------------
     Popular Collection  
------------------------------*/
.products{
    position: relative;
    margin-bottom: 50px;
}
.container>h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}
.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}
.individual-collection{
    height: 476;
    width: 329;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.individual-collection>.individual-collection-image>img{
    width: 100%;
}
.individual-collection-discreption>h3{
    margin: 10px 0px;
}
.individual-collection-discreption>h4, p {
    margin: 0px 0px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.see-more p{
    position: absolute;
    right: 0px;
    margin-top: 47px;
}
.see-more p a{
    color: #E02C6D;
    text-decoration: none;
}

/*---------------------------
       featured-products  
----------------------------*/
.featured-products{
    display: flex;
    align-items: center;
    margin: 100px 0px;
}
.featured-product-image{
    width: 404px;
    height: 270px;
    border-radius: 7px;
}
.featured-product-discription{
    width: 50%;
    margin-left: 96px;
}
.featured-product-discription>button{
    border-radius: 5px;
}

/*--------------------------
       Footer Section  
---------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: black;
    padding: 50px 0px;
}
.footer>h3{
    margin-bottom: 0px;
}
.footer>p{
    margin-top: 0px;
}
.footer>.social-media-link>i{
    margin-left: 10px;
}